@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #7b9669;
  font-family: "DM Sans", sans-serif;
  color: #fafaf7;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@keyframes psBar {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}

@keyframes psBarV {
  from {
    transform: scaleY(0);
  }
  to {
    transform: scaleY(1);
  }
}
